.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.paineis {
    display: flex;
    flex-direction: row;
    padding-top: 60px;
    justify-content: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    background-color: #262626;
    width: 520px;
    height: 600px;
    border-radius: 20px;
    justify-content: center;
}

.formulario a {
    text-decoration: none;
}

.formulario h1 {
    font-family: "poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 35px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Garante o alinhamento central */
}

.formulario h2 {
    font-family: "poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Garante o alinhamento central */
}

.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 20px;
}

.botoes .aluno, .botoes .admin { /* Regras combinadas, pois eram idênticas */
    display: flex;
    justify-content: center; /* Centraliza o texto verticalmente */
    align-items: center; /* Centraliza o texto horizontalmente */
    background-color: #2BAE2F;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    font-family: "poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: white;
    border: none; /* Remove a borda padrão do botão */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.botoes button:hover { /* Seletor mais específico para o botão */
    transition: 0.5s;
    background-color: #157218;
}

.imagem {
    margin-left: -70px; 
}